<!-- Banner -->
<div class="banner d-flex flex-column justify-content-center align-items-center img-fluid">
  <h1 class="banner_title">
    Outils Anciens
  </h1>
  <% if current_user && current_user.admin %>
    <p>
      <%= link_to "Nouvel Article", new_article_path, class: "btn btn-danger" %>
    </p>
  <% elsif current_user.nil? %>
    <p>
      <%= link_to "Je m'inscris", new_user_session_path, class: "btn btn-danger" %>
    </p>
  <% end %>
</div>

<!-- Articles flow -->
